In [ ]:
have to create new database everytime restarting kernel here is recommender2.db

In [10]:
#first create engine

from sqlalchemy import create_engine

engine = create_engine('sqlite:///recommender2.db', echo=False)
engine

Engine(sqlite:///recommender2.db)

In [11]:
#then load data into database engine

from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

#engine = create_engine('sqlite:///recommender2.db', echo=False)

for f in os.listdir('data/movies/ml-latest-small'):
    if f[-4:] == '.csv':
        data = pd.read_csv(f'data/movies/ml-latest-small/{f}')
        data.to_sql(f[:-4], engine)
        print(f[0:-4])

links
ratings
movies
tags

In [3]:
# i didn't use this one  but i'll have to. will figure out the engine and the function later

import os
import pandas as pd
from sklearn.decomposition import NMF
from fuzzywuzzy import process
import numpy as np
import googleapiclient.discovery
import google_auth_oauthlib.flow
import googleapiclient.errors
from sqlalchemy import create_engine

def create_engine_load_data():
    '''Load data into memory and return an engine and data as a dataframe.'''
    # Load and fill database
    engine = create_engine('sqlite:///recommender2.db', echo=False)

    for f in os.listdir('data/movies/ml-latest-small'):
        if f[-4:] == '.csv':
            data = pd.read_csv(f'data/movies/ml-latest-small/{f}')
            data.to_sql(f[:-4], engine)
            print(f[:-4], 'loaded succesfully')

    # LOAD DATA
    query = 'SELECT "userId", ratings."movieId", movies.title, rating FROM ratings JOIN movies ON ratings."movieId" = movies."movieId";'
    all_ratings = pd.read_sql(query, engine)

    return engine, all_ratings

/opt/conda/lib/python3.8/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [12]:
#i should use this function above create_engine_load_data()
#but for now i'll just take the engine and query it to make a dataframe

query = 'SELECT "userId", ratings."movieId", movies.title, rating FROM ratings JOIN movies ON ratings."movieId" = movies."movieId";'
all_ratings = pd.read_sql(query, engine)

In [ ]:
10 dec 20
now i need to go back to flask and process_user_input()
i need to get the list of the input movies
index of it
so that i can remove it from movie_id (unique)

In [16]:
#เท่โคตร ก็เลยไป query table movies มาใหม่
#จาก engine ไม่ต้องสั่งโหลดจากไฟล์ แต่สั่ง query มาแทน

movie_id_unique = 'SELECT * FROM movies'
all_movies = pd.read_sql(movie_id_unique, engine)
all_movies

#นี่คือ df ที่จะเอามาใช้ตั้งต้น แล้วลบออกด้วย process_user_input()
## อ่อ แล้วต้องแปลงกลับไปเป็น ratings.csv ใหม่ด้วยสิ เพราะผลลัพธ์ที่อยากได้คือ y = df["ratings"] ถูกไหม
#แล้วค่อยเอามันไปใส่ใน predict()
#แต่เดี๋ยวต้องมาไล่ดูว่าจะใส่ฟังชั่นตรงไหนบ้างแล้วเรียกยังไง

ดูสิมีหนัง 9741 เรื่อง แต่มี movieId ตั้ง 193609 ratings

,index,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
9737,9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,9739,193585,Flint (2017),Drama
9740,9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [30]:
all_movies[5400:5450]
#หาบรรทัดนี้อยู่นาน ว่าทำไมอยู่ดีๆ Id มันถึงกระโดดไปเยอะขนาดนั้น

,index,movieId,title,genres
5400,5400,9018,Control Room (2004),Documentary|War
5401,5401,25746,"Hunchback of Notre Dame, The (1923)",Drama|Horror
5402,5402,25750,Sherlock Jr. (1924),Comedy|Fantasy|Romance
5403,5403,25752,"Freshman, The (1925)",Comedy
5404,5404,25753,Greed (1924),Drama
5405,5405,25757,"Jazz Singer, The (1927)",Drama|Musical|Romance
5406,5406,25769,"Steamboat Bill, Jr. (1928)",Comedy|Romance
5407,5407,25771,"Andalusian Dog, An (Chien andalou, Un) (1929)",Fantasy
5408,5408,25773,Little Caesar (1931),Crime|Drama
5409,5409,25782,Boudu Saved From Drowning (Boudu sauvé des eau...,Comedy
5410,5410,25788,Scarface (1932),Crime|Drama
5411,5411,25795,Dinner at Eight (1933),Comedy|Drama|Romance
5412,5412,25797,Gold Diggers of 1933 (1933),Musical
5413,5413,25805,"Atalante, L' (1934)",Comedy|Drama|Romance
5414,5414,25825,Fury (1936),Drama|Film-Noir
5415,5415,25826,Libeled Lady (1936),Comedy|Romance
5416,5416,25827,Mr. Deeds Goes to Town (1936),Comedy|Romance
5417,5417,25833,Camille (1936),Drama|Romance
5418,5418,25834,Captains Courageous (1937),Adventure|Drama
5419,5419,25841,Stage Door (1937),Drama
5420,5420,25850,Holiday (1938),Comedy|Drama|Romance
5421,5421,25855,"Roaring Twenties, The (1939)",Crime|Drama|Thriller
5422,5422,25856,Wuthering Heights (1939),Drama|Romance
5423,5423,25865,"Letter, The (1940)",Drama|Film-Noir
5424,5424,25870,Here Comes Mr. Jordan (1941),Comedy|Fantasy|Romance
5425,5425,25886,Random Harvest (1942),Drama|Romance
5426,5426,25887,Tales of Manhattan (1942),Comedy|Drama
5427,5427,25898,Day of Wrath (Vredens dag) (1943),Drama
5428,5428,25905,"Miracle of Morgan's Creek, The (1944)",Comedy|Romance
5429,5429,25906,Mr. Skeffington (1944),Drama|Romance
5430,5430,25923,Great Expectations (1946),Drama
5431,5431,25927,"Stranger, The (1946)",Drama|Film-Noir|Thriller
5432,5432,25937,Easter Parade (1948),Musical|Romance
5433,5433,25940,"Lady from Shanghai, The (1947)",Drama|Film-Noir|Mystery
5434,5434,25946,"Three Musketeers, The (1948)",Action|Adventure|Drama|Romance
5435,5435,25947,Unfaithfully Yours (1948),Comedy
5436,5436,25952,"Letter to Three Wives, A (1949)",Comedy|Drama
5437,5437,25959,Annie Get Your Gun (1950),Comedy|Musical|Romance|Western
5438,5438,25962,King Solomon's Mines (1950),Action|Adventure|Romance
5439,5439,25963,"Young and the Damned, The (Olvidados, Los) (1950)",Crime|Drama
5440,5440,25996,"Star Is Born, A (1954)",Drama|Musical
5441,5441,25999,The Wild One (1953),Drama
5442,5442,26002,Confidential Report (1955),Crime|Drama|Mystery|Thriller
5443,5443,26003,Night and Fog (Nuit et brouillard) (1955),Crime|Documentary|War
5444,5444,26038,Teacher's Pet (1958),Comedy|Romance
5445,5445,26048,"Human Condition II, The (Ningen no joken II) (...",Drama|War
5446,5446,26052,Pickpocket (1959),Crime|Drama
5447,5447,26059,When a Woman Ascends the Stairs (Onna ga kaida...,Drama
5448,5448,26073,"Human Condition III, The (Ningen no joken III)...",Drama|War
5449,5449,26078,Advise and Consent (1962),Drama

In [14]:
pwd

'/flask_jupyter'

In [13]:
all_ratings

        userId  movieId                           title  rating
0            1        1                Toy Story (1995)     4.0
1            1        3         Grumpier Old Men (1995)     4.0
2            1        6                     Heat (1995)     4.0
3            1       47     Seven (a.k.a. Se7en) (1995)     5.0
4            1       50      Usual Suspects, The (1995)     5.0
...        ...      ...                             ...     ...
100831     610   166534                    Split (2017)     4.0
100832     610   168248   John Wick: Chapter Two (2017)     5.0
100833     610   168250                  Get Out (2017)     5.0
100834     610   168252                    Logan (2017)     5.0
100835     610   170875  The Fate of the Furious (2017)     3.0

[100836 rows x 4 columns]

In [10]:
user_movie_ratings = pd.pivot_table(all_ratings, values='rating', index='userId', columns='movieId')
user_movie_ratings

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
user_movie_id_ratings_matrix = user_movie_ratings.fillna(0)
user_movie_id_ratings_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
number_of_genres = 10
m = NMF(n_components=number_of_genres)
m.fit(user_movie_id_ratings_matrix)

NMF(n_components=10)

In [13]:
genre_movie_matrix = m.components_
genre_movie_matrix

array([[1.06837958, 0.47081484, 0.45603042, ..., 0.        , 0.        ,
        0.        ],
       [0.39267145, 0.53924498, 0.        , ..., 0.01622242, 0.01622242,
        0.012457  ],
       [1.07180339, 0.92431124, 0.44117917, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.10002595, 0.14280955, 0.30549578, ..., 0.        , 0.        ,
        0.        ],
       [0.26097189, 0.23611903, 0.01819534, ..., 0.        , 0.        ,
        0.        ],
       [0.05647599, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [18]:
genre_movie_matrix.shape

(10, 9724)

In [14]:
user_movie_id_ratings_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
def process_user_input(user_input=None, all_ratings=None):
    '''Return a tuple: key(name of input field), value(user input string), df_guess(dataframe of pre-selected movie names), guesses(fuzzywuzzy of user input and df_guess as tuple(title, scoring and index))'''
    # Extract tuple
    user_input_key = user_input[0]
    user_input_value = user_input[1]
    # Pre-select movies from database. Select everything that contains the first 3 letters capitalized of user input
    df_guess = all_ratings[all_ratings['title'].str.contains(user_input_value[:3].lower().capitalize())].groupby('title').first().reset_index()
    # Get ordered list of the five most similar movie titles to user input. Return a tuple of title, match score and index.
    guesses = process.extract(user_input_value, df_guess['title'])

    return user_input_key, user_input_value, df_guess, guesses

In [ ]:
@app.route('/select')
def select():
    user_input = request.args.items()

    guesses_list = []
    for ui in user_input:
        if ui[1]:
            guesses = process_user_input(user_input=ui, all_ratings=all_ratings)
            guesses_list.append(guesses)

    return render_template(
        'select.html',
        guesses_list=guesses_list,
        user_input=user_input